<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">


        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="jumbotron">
            <div class="container">
                <h1>Raspberry Pi Internet Thing</h1>
                <p>Welcome to the Pi thing!</p>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h2>Switch: <span id='switch_value'>unknown</span></h2>
                </div>

                <div class="col-md-4">
                    <h3>LED</h3>
                    <button class="btn btn-default" type='button' id='led_on'>LED ON</button>
                    <button class="btn btn-default" type='button' id='led_off'>LED OFF</button>
                </div>

                <div class="col-md-4">
                    <h3>DHT Sensor</h3>
                    <canvas id="dht_chart" width="400" height="400"></canvas>
                </div>

            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <!-- Latest compiled and minified JavaScript -->
        <script src=>"{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"</script>

        <script type="text/javascript" src="http://requirejs.org/docs/release/2.2.0/minified/require.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/Chart.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/thing.js') }}"></script>
    </body>
</html>
